<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <centre> <h2>Login to Your Account</h2>

    <form method="POST">
        {% csrf_token %}

        <label for="username">Username:</label><br>
        <input type="text" name="username" id="username" required><br><br>

        <label for="password">Password:</label><br>
        <input type="password" name="password" id="password" required><br><br>

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}

        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
        <p><a href="{% url 'simple_reset' %}">Forgot Password?</a></p>

</body> </centre>
</html>
